* {
    margin: auto;
    padding: 0;
    overflow: hidden;

}

.head_style {
    margin: auto;
    width: 435px;
    height: 660px;
    border: 5px solid red;
}

.img {
    width: 250px;
    height: 50px;
}
.music-img{
    
    margin: auto;
}
div {
    display: block;
}

.pos2 {
    height: 100%;
    display: inline-block;
    border-style: hidden;
    border-right:solid 1px;
}

.pos3 {
    height: 100%;
    width: 120px;
    display: inline-block;
    border-style: hidden;
    color: #8590a6;
    font-size: 12px;
    box-shadow: none;
    border:none;
    outline: none;
}
#music {
    margin: auto;
    text-align: center;
}

#login {
    height: 75px;
    border: 1px solid #8590a6;
    padding: top 50px;
    margin: 0 auto;
    width: 50%;
}
#pwd {
    display: inline-block;
}

#first-line{
    height: 25px;
    border-bottom: solid 1px;
}
.pos1{
    width: 25px;
    

}
.pass{
    display: inline-block;
    width: 185px;
    border-style: hidden;
    color: #8590a6;
    font-size: 20px;
    box-shadow: none;
    border:none;
    outline: none;
    height: 35px;
    margin-bottom: 0%;
}